{% extends 'static/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/marcas/marcas.css' %}">
{% endblock css %}


{% block main %}
    {% if user.is_authenticated %}
      <a class="new" href="{% url 'createMarca' %}">Novo</a>
    {% endif %}
    
    {% for item in marcas %}
      <a href="{% url 'detailMarca' item.id %}">
      <div class="card">
        <img src="/{{item.photo}}">
        <div class="content">
        </div>
        <h3>Marca: {{item.nome}} </h3>
      </div>
    </a>
    {% endfor %}
      
{% endblock main %}
   

