.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.container-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 44%;
}

.a{
    margin-bottom: 10px;
}

.a > a{
    padding: 6px;
    border-radius: 8px;
    width: 50px;
    font-size: 12px;
    background-color: rgb(59, 163, 168);
}

.a > a:hover{
    filter: opacity(80%);
    transition: filter 0.2s;
}
.stats{
    display: flex;
    flex-direction: column;
}

.container img{
    width: 600px;
    height: 400px;
    margin-bottom: 15px;
}

.description{
    width: 45%;
    font-size: 1.1rem;
}

.description p{
    font-size: 1rem;
}