{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/principal.css' %}">

{% endblock css %}

{% block titulo %}Página Principal{% endblock titulo %}


{% block body %}
<div class="left">
    <a href="{% url 'criar' %}">Criar uma postagem</a>
</div>
<div class="main">
    <h1>Meu primeiro site django</h1>
    {% for item in posts %}
        <h2>{{item.titulo}}</h2>
        <a href="{% url 'detalhe' item.id %}">Acessar</a>
    {% endfor %}

{% endblock body %}