{% extends 'static/base.html' %}
{% load static %}

{% block title %}Catalogo{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/catalog/catalog.css' %}">
{% endblock css %}


{% block main %}
    {% if user.is_authenticated %}
      <a class="new" href="{% url 'create' %}">Novo</a>
    {% endif %}
    
    {% for item in cars %}
      <a href="{% url 'detail' item.id %}">
      <div class="card">
        <img src="/{{item.photo}}">
        <div class="content">
          <p>Ano: {{item.ano}} </p>
          <p>Marca: {{item.marca}} </p>
        </div>
        <h3>Serie: {{item.nome}} </h3>
      </div>
    </a>
    {% endfor %}
      
{% endblock main %}
   

